<h1>Techkids Hot Girl</h1>

<div class="container">
  <input type="button" value="Add" ng-click="add()" class="btn btn-success">
<table class="table">
  <thead>
    <tr>
      <th >Name</th>
      <th >Age</th>
      <th >Facebook</th>
      <th >Pasword</th>
      <th >Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="girl in currenpage">
      <td >{{girl.name}}</td>
      <td >{{girl.age}}</td>
      <td >{{girl.facebook}}</td>
      <td >{{girl.password}}</td>
      <td ><input type="button" value="Delete" ng-click="delete($index)" class="btn btn-danger"/>
        <input type="button" value="Update" ng-click="gotoupdate($index)" class="btn btn-primary"/></td>
    </tr>
  <tbody>
</table>
<button ng-repeat="n in allpages" ng-click="pagination($index)" class="btn btn-link">{{$index+1}}</button>
</div>
